<html>
<head>

    <title> maps</title>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGVb962wKER2y5YsbLn_MtFXzfWhbsiH8&callback=initMap"
    ></script>
</head>
<body>
<div id="map"></div>
<script>
    function initMap()
    { var options={
   zoom:8,
       center:{lat:36.8189700,lng:10.1657900}
    }
     var map=new google.maps.Map(document.getElementById('map'),options);

        var markers=[
            {coords:{lat:35.821430,lng:10.634422},
                content:'<h1>on est a sousse</h1>'},
            {coords:{lat:36.451289,lng:10.735663},
            content:'<h1>on est a nabeul</h1>'}

    ];
        for(var i=0;i<markers.length;i++)
        { addMarker(markers[i]);
        }
        function addMarker(props) {
            var marker=new google.maps.Marker({
                position:props.coords,
                map:map


            });}
        if(props.content)
        { var infoWindow=new google.maps.InfoWindow({
            content:props.content
        });
         marker.addListener('click',function() {
             infoWindow.open(map, marker);
         });
        }
    }</script>


</body>


</html>